/* 폰트설정 */
/* Nanum Gothic :: Google earlyaccess */
/* Oswald :: Google Font */
/* 초기화 */
* {
  margin: 0;
  padding: 0;
}
ul,
ol,
li {
  list-style: none;
}
body {
  font-family: lgsreot;
  line-height: 1.25;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  width: auto;
  height: auto;
}
a {
  cursor: pointer;
}
a:focus,
a:active {
  outline: 0;
}
a:link {
  color: #333;
  text-decoration: none;
}
a:visited {
  color: #333;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #333;
  text-decoration: none;
}
a:active {
  color: 333;
  text-decoration: none;
}
/* 변수설정 */
/* 공통 함수설정 */
.text-overflow {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  zoom: 1;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.tts {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 3em;
  text-align: center;
  padding: 30px 0;
}
.dstyleItsme {
  width: 940px;
  margin: 0 auto;
}
.blockBox {
  padding: 7px 0;
  width: 100%;
  background: #000;
  text-align: center;
}
.blockBox ul {
  margin: 0 auto;
  display: inline-block;
  text-align: center;
}
.blockBox ul li {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  padding: 0 10px;
  display: inline-block;
  text-align: center;
}
.blockBox ul li a {
  color: #fff;
  font-size: 13px;
}
.blankBox {
  height: 20px;
  border-bottom: 1px solid #000;
}
.contWrap {
  width: 100%;
  overflow: hidden;
}
.contWrap .articleWrap {
  width: 700px;
  float: left;
}
.contWrap .articleWrap .articleRep {
  width: 100%;
  overflow: hidden;
}
.contWrap .articleWrap .articleRep h2 {
  font-size: 24px;
  font-family: 'Nanum Gothic';
  font-weight: 800;
  color: #000;
  padding: 20px 0 10px;
  border-bottom: 1px dotted #000;
}
.contWrap .articleWrap .articleRep .articleInfoWrap {
  padding-top: 5px;
  width: 100%;
  overflow: hidden;
}
.contWrap .articleWrap .articleRep .dateCateWrap {
  font-size: 11px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  float: right;
}
.contWrap .articleWrap .articleRep .adminOnly {
  font-size: 11px;
  font-family: 'Nanum Gothic';
  font-weight: 700;
  float: left;
}
.contWrap .articleWrap .articleRep .articleContent {
  padding-top: 20px;
  font-family: 'Nanum Gothic';
  font-weight: 400;
  line-height: 1.5;
}
.contWrap .asideWrap {
  width: 200px;
  float: right;
}
.asideWrap h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding-bottom: 5px;
}
.asideWrap .asideArticle {
  padding: 20px 0;
  border-top: 1px dotted #000;
}
.asideWrap .asideArticle:first-child {
  border-top: 0;
}
#countBox {
  margin-top: 10px;
  width: 178px;
  font-family: 'Nanum Gothic';
  font-weight: 400;
  font-size: 11px;
  border: 1px solid #000;
  padding: 10px;
  overflow: hidden;
}
#countBox dl {
  width: 100%;
}
#countBox dt {
  float: left;
  clear: both;
  width: 70px;
}
#countBox dd {
  float: left;
  width: 90px;
}
#searchBox {
  width: 200px;
}
#searchBox .searchInput {
  width: 198px;
  height: 22px;
  border: 1px solid #000;
}
#searchBox input {
  border: 0;
  background: transparent;
  float: left;
  width: 160px;
}
#searchBox a {
  float: right;
  width: 28px;
  height: 22px;
  background: #000;
  text-align: center;
}
#searchBox a i {
  color: #fff;
}
#tags ul {
  width: 100%;
  overflow: hidden;
}
#tags li {
  float: left;
}
#tags li a {
  display: inline-block;
  padding: 2px;
  background: #f5f5f5;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 12px;
  font-family: 'Nanum Gothic';
  font-weight: 400;
}
#categoryNav li {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
#categoryNav li a {
  font-size: 12px;
}
#categoryNav .navDep0 {
  padding: 5px 0;
}
#categoryNav .navDep0 a {
  display: inline-block;
  padding-bottom: 5px;
  font-size: 16px;
}
#categoryNav .navDep1 {
  padding: 5px 0;
  border-top: 1px dashed #ccc;
}
#categoryNav .navDep1 i {
  padding-right: 4px;
}
#categoryNav .navDep1 a {
  padding-bottom: 0;
  font-size: 14px;
}
#categoryNav .navDep2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  padding-left: 15px;
}
#categoryNav .navDep2 a {
  font-size: 13px;
}
#recentList li {
  font-family: 'Nanum Gothic';
  font-weight: 700;
  font-size: 12px;
  padding-bottom: 3px;
}
#recentTrackback li {
  padding: 3px 0;
  border-top: 1px dashed #ccc;
  font-family: 'Nanum Gothic';
  font-weight: 400;
  font-size: 12px;
  padding-bottom: 3px;
  width: 100%;
  overflow: hidden;
}
#recentTrackback li a {
  font-family: 'Nanum Gothic';
  font-weight: 700;
}
#recentTrackback li .info_wrap {
  width: 100%;
  overflow: hidden;
}
#recentTrackback li span.name {
  float: left;
}
#recentTrackback li span.date {
  float: right;
}
#recentTrackback li:first-child {
  border-top: 0;
}
#recentComment li {
  padding: 3px 0;
  border-top: 1px dashed #ccc;
  font-family: 'Nanum Gothic';
  font-weight: 400;
  font-size: 12px;
  padding-bottom: 3px;
  width: 100%;
  overflow: hidden;
}
#recentComment li a {
  font-family: 'Nanum Gothic';
  font-weight: 700;
}
#recentComment li .info_wrap {
  width: 100%;
  overflow: hidden;
}
#recentComment li span.name {
  float: left;
}
#recentComment li span.date {
  float: right;
}
#recentComment li:first-child {
  border-top: 0;
}
#archiveList ul {
  width: 100%;
  overflow: hidden;
}
#archiveList li {
  float: left;
  width: 65px;
  padding-bottom: 5px;
  text-align: center;
}
#archiveList li a {
  display: inline-block;
  width: 50px;
  padding: 3px 5px;
  background: #f5f5f5;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
#myLink li {
  font-family: 'Nanum Gothic';
  font-weight: 700;
  font-size: 12px;
  padding-bottom: 3px;
}
.calendarWrap .calTitle {
  background: #000;
  padding: 2px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
.calendarWrap .calTitle a {
  color: #fff;
}
.calendarWrap .calLocation {
  padding-top: 5px;
  width: 100%;
  overflow: hidden;
}
.calendarWrap .calLocation .prevMonth {
  float: left;
}
.calendarWrap .calLocation .nextMonth {
  float: right;
}
.calendarWrap .calLocation a {
  display: inline-block;
  padding: 3px 5px;
  background: #f5f5f5;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 11px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
.calendarWrap .calendarTable {
  width: 100%;
}
.calendarWrap .calendarTable table {
  width: 200px;
}
.calendarWrap .calendarTable thead th {
  font-family: 'Nanum Gothic';
  font-weight: 400;
  font-size: 12px;
  padding: 5px 0 2px;
}
.calendarWrap .calendarTable tbody td {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  padding: 2px 0;
}
.articleContent .another_category_color_gray {
  border-color: #000 !important;
}
.articleContent .another_category_color_gray h4 {
  border-bottom: 1px dotted #000 !important;
}
.articleContent .another_category_color_gray * {
  color: #000 !important;
}
.articleContent .another_category_color_gray th a.current {
  border-color: #000 !important;
}
.articleContent .another_category_color_gray h4,
.articleContent .another_category_color_gray h4 a {
  color: #000 !important;
}
.tagAuthorWrap {
  padding-top: 20px;
  font-size: 12px;
  font-family: 'Nanum Gothic';
  font-weight: 400;
}
.tagAuthorWrap .tagAuthorCase {
  width: 100%;
  overflow: hidden;
  border-top: 1px dotted #000;
  padding: 10px 0;
}
.tagAuthorWrap .tagTrail {
  float: left;
}
.tagAuthorWrap .author {
  float: right;
}
#paging {
  width: 100%;
  overflow: hidden;
  border-top: 1px solid #000;
  padding-top: 20px;
  text-align: center;
  font-size: 12px;
  height: 30px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
#paging #prevPage {
  padding: 3px 5px;
  background: #f5f5f5;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 12px;
}
#paging #nextPage {
  padding: 3px 5px;
  background: #f5f5f5;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 12px;
}
#paging .num {
  padding: 0 5px;
  display: inline-block;
}
#paging .interword {
  letter-spacing: 1px;
}
#paging .no-more-prev {
  color: #aaa;
}
#paging .no-more-next {
  color: #aaa;
}
.actionTrail {
  text-align: right;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 12px;
}
.articleList {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #000;
}
.articleList h2 {
  font-size: 24px;
  font-family: 'Nanum Gothic';
  font-weight: 800;
  color: #000;
  padding: 20px 0 10px;
  border-bottom: 1px dotted #000;
}
.articleList ul li {
  width: 100%;
  overflow: hidden;
  font-size: 15px;
  border-top: 1px dashed #ccc;
}
.articleList ul li span.date {
  float: right;
  display: inline-block;
  padding-top: 25px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1px;
}
.articleList ul li a {
  float: left;
  display: inline-block;
  padding: 15px 0;
  font-family: 'Nanum Gothic';
  font-weight: 700;
}
.articleList ul li a span {
  color: #999;
  font-size: 12px;
}
.articleList ul li:first-child {
  border-top: 0;
}
#notice li {
  font-family: 'Nanum Gothic';
  font-weight: 700;
  font-size: 12px;
  padding-bottom: 3px;
}
#notice li i {
  padding-top: 2px;
}
